<div class="aboveHeader"></div>

<header class = "header">
    <a href="/homepage" class = "header__logo">Master project</a>
    <nav class = "header__nav">
        <ul>
            <li>
                <a href="/homepage" class = "">Home</a>
            </li>
            <li>
                <a href="/about" class = "">About</a>
            </li>
            <li>
                <a href="/contact" class = "">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__profile">
        <button>logout</button>
        <a href="/profile" class="profile_div">
            <img src="/img/account.png" alt="Profile" class="profile_icon">
            My Profile
        </a>
    </div>
</header>