<div class="container_main">
  <div class="columns-main" id="left">
    <h3 class="columns-main__header">Daily schedule</h3>
    <p class="TODO">
      TODO: Här ska jag ha en typ av kalander som man kan kryssa i att man har
      följt efter varje utsatt aktivitet
    </p>
  </div>

  <div class="columns-main" id="middle">
    <h3 class="columns-main__header">Todo-list</h3>
    <ul class="todo_list">
      <% data.forEach(todo => { %>
      <li>
        <a href="/todo/<%= todo._id %>">
          <span class="span"><%= todo.title %></span>
        </a>
        <input type="checkbox" class="todo-checkbox" />
      </li>
      <% }) %>
    </ul>

    <a href="/edit-todo" class="edit_todo_list">edit todo list</a>
  </div>

  <div class="columns-main" id="right">
    <div class="right_column_sideboard">
      <h3 class="columns-main__header">Weekly mission</h3>
      <p class="TODO">
        TODO: här ska habits som man vill börja med veckovis visas och kunna
        kryssas i
      </p>
    </div>
    <div class="right_column_sideboard">
      <h3 class="columns-main__header">Daily mission</h3>
      <p class="TODO">
        TODO: här ska habits som man vill börja med dagligen visas och kunna
        kryssas i
      </p>
    </div>
  </div>
</div>
<p class="TODO">TODO: vad ska jag ha för color palett?</p>
<!-- 
TODO:
  - designa TODO listan och se till att dem sedan sorteras efter prio och ifall dem är klara eller inte

-->
