<div class="container_main">
  <div class="columns_main" id="left">
    <h3 class="columns_main_header">Daily schedule</h3>
    <p>Här ska jag ha en typ av kalander som man kan kryssa i att man har följt efter varje utsatt aktivitet</p>
  </div>

  <div class="columns_main" id="middle">
    <h3 class="columns_main_header">Todo-list</h3>
      <ul class="todo_list">
        <li>
          <span>tvätta</span>
          <button>done</button>
        </li>        
      </ul>

      <a href="#" class="edit_todo_list">edit todo list</a>

  </div>

  <div class="columns_main" id="right">
    <div class="right_column_sideboard">
      <h3 class="columns_main_header">Weekly mission</h3>
      <p>här ska habits som man vill börja med veckovis visas och kunna kryssas i</p>
    </div>
    <div class="right_column_sideboard">
      <h3 class="columns_main_header">Daily mission</h3>
      <p>här ska habits som man vill börja med dagligen visas och kunna kryssas i</p>
    </div>
  </div>
</div>
