<div class="todopage-container">
    <h1 class="todopage-title"><%= data.title %></h1>
    <article class="todo-body">
        <%= data.body %>
    </article>


    <p class="TODO">
        TODO: här vill jag ha knappar sedan en som man kan fylla i för att man är klar och en som är till för att edita todon
    </p>
</div>