.container_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left middle right";
  border: 2px solid red;
}

.columns-main{
  padding: 0px 10px;
}

#left {
  grid-area: left;
  background-color: aqua;
  border: 2px solid blue;
}
#middle {
  grid-area: middle;
  background-color: greenyellow;
  border: 2px solid green;
}
#right {
  grid-area: right;
  background-color: palevioletred;
  border: 2px solid purple;
}

/*
TODO: ändra så att dem går ner på en rad efter en viss storlek
*/



.columns-main__header {
  background-color: azure;
  text-align: center;
}

/* något sånt här, men kolla lite mer */
.todo_list {
  list-style-type: none;
  padding: 0px 5px;
  margin: 0;
  background-color: bisque;

  display: flex;
  flex-direction: column;
}

.todo-checkbox {
  display: inline-block;
  text-align: right;
}

.todo_list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}

.edit_todo_list{
  text-align: center;
  display: block;
}

.todo-checkbox {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  appearance: none;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-checkbox:checked {
  background-color: green;
  border: 2px solid darkgreen;
  
}
